/*whole page*/

body {
  color: #222;
  font-family: "PT Serif", serif;
  margin: 1em auto 1em auto;
  position: relative;
  width: 960px;
  /*width: auto;
  min-width: 640px;
  max-width: 960px;*/
}
h1, h2, h3, h4, header, footer{
  color: #000;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-weight: 400;
}

header, footer {
  font-size: small;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

img {
  max-width: 960px;
}

/*Diagram*/
text {
    font: 12px sans-serif;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

path.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
    stroke-linecap: butt;
}

path.highlight {
    stroke: #45699f;
    stroke-opacity: .8;
    /*z-index: 1000;*/
}

/*Tooltips */
/*Credit: style sheets based on c3js.org with MIT license at */
/*TODO link, other  branch also*/
#tooltip-container {
  position: fixed;
  pointer-events: none;
}
.tooltip {
  border-collapse:collapse;
  border-spacing:0;
  background-color:#fff;
  empty-cells:show;
  -webkit-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
     -moz-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
          box-shadow: 7px 7px 12px -9px rgb(119,119,119);
  opacity: 0.85;
}
.tooltip tr {
  border:1px solid #CCC;
}
.tooltip td.head, .tooltip th {
  background-color: #c7e1ff;
  font-size:12px;
  padding:2px 5px;
  text-align:center;
  color:#000;
}
.tooltip td {
  font: 11px sans-serif;
  padding: 3px 6px;
  text-align:left;
  background-color:#fff;
  border-left:1px dotted #999;
}
.tooltip td.value{
  text-align: right;
}
/*little colorful squre*/
.tooltip td > span {
  display: inline-block;
  width: 2px;
  height: 11px;
  margin-right: 6px;
}
